rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow anyone to read the fields necessary for certificate verification.
      allow get: if true; 
      
      // Allow authenticated users to read their own full document and update their own data.
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /config/admin {
        allow get: if true;
    }
  }
}
